<div class="login-header">
  <mat-icon class="login-icon">school</mat-icon>
  <h2>Smart Campus</h2>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmited()">
  <mat-form-field>
    <mat-label>User</mat-label>
    <input matInput formControlName="username" />
    @if (loginForm.get('username')?.hasError('required')) {
    <mat-error>User name is invalid</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide() ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (loginForm.get('password')?.hasError('required')) {
    <mat-error>Password is invalid</mat-error>
    }
  </mat-form-field>

  <button mat-flat-button type="submit" [disabled]="!loginForm.valid">Logar</button>
</form>
<button
  mat-stroked-button
  type="submit"
  [routerLink]="['/user/register']"
  routerLinkActive="router-link-active"
>
  Register
</button>
